<!DOCTYPE html>
<html >
    <head>
    <meta charset="UTF-8">
    <title>Ripe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

    <body>
        <div class="main">
            <div class="container">
                <div class="heading">
                    <h1>Fruit Ripeness</h1> 
                    <img src="{{ url_for('video') }}" height="400" width="500">
                </div>
            </div> 
        </div>    
    </body>
</html>
